<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>השיר הגרוע בעולם (ליום זה)</title>
</head>
<body dir="rtl">
<h2>{{ title }} / חברי וחברות הכנסת ה-20 </h2>
<p>{{ song|safe }}</p>
<br><br><br>
<hr>
<footer><i><br> הטקסט כולו לקוח מתוך סטאטוסים של חברי הכנסת ה-20, אשר נכתבו ביממה האחרונה, <br>ונאספו באמצעות פרויקט <a
        href="http://www.kikar.org">כיכר המדינה</a> של <a href="https://www.hasadna.org.il">הסדנא לידע ציבורי</a> .<br><br>
    עזר להביא לאור - יותם מנור, 2017.
</i></footer>
</body>
</html>