<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>השיר הגרוע בעולם (ליום זה)</title>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js "></script>
  <script src="https://use.fontawesome.com/e32660f798.js"></script>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-90265917-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body dir="rtl">
<div class="container"><h2 id="song-title">כותב לך שיר...<i
    class="fa fa-spinner fa-spin"></i></h2>
  <p id="song-content"></p>
  <br><br><br>
  <button
      id="song-link"
      class="btn btn-default btn-md"
      style="display: none"
      data-placement="bottom"
      title="Copied to Clipboard"></button>
  <a href="/"
     id="homepage-link"
     style="display: none"
     class="btn btn-default btn-md">שיר חדש</a>
  <hr>
  <footer>
    <i><br> הטקסט כולו לקוח מתוך סטאטוסים של חברי הכנסת ה-20, אשר נכתבו
      ביממה האחרונה, <br>ונאספו באמצעות פרויקט <a
          href="http://www.kikar.org">כיכר המדינה</a> של <a
          href="https://www.hasadna.org.il">הסדנא לידע ציבורי</a> .<br><br>
      עזר להביא לאור - יותם מנור, 2017.
    </i>
  </footer>
  <script>
    $(document).ready(function () {
      $.ajax({
        url: window.location.search + "get_song/",
        type: "GET",
        dataType: 'json',
        success: function (data, status) {
          var linkURL = window.location.host + "/" + data['link'] + '/';
          $('#song-title').html(data['title']);
          $('#song-content').html(data['content']);
          $('#song-link').show().attr('data-clipboard-text', linkURL).html('לינק לשיר הזה');
          if (data['is_new'] === true) {
            $('#homepage-link').html('תביא עוד שיר')
          } else {
            $('#homepage-link').html('בא לי שיר חדש')

          }
          $('#homepage-link').show();
          var clipboard = new Clipboard('#song-link');
          clipboard.on('success', function (e) {
            console.info('Action:', e.action);
            console.info('Text:', e.text);
            console.info('Trigger:', e.trigger);
             $('#song-link').tooltip('show');
          });
        }
      });
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    });
  </script>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

  <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js">

  </script>

</div>

</body>
</html>